<!DOCTYPE html>
<html lang="en">
	<head>
		{{>header}}
		<title>About-me</title>
	</head>
	<body>
		{{>navbar}}

		<div class="container fluid">
			<div class="row">
				<div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side -->
            <div class="col-md-6 col-12 main_header_left">
                <div class="carousel-item active">
                    <img class="w-100" src="about.png" alt="First slide">
                  </div>
			  
            </div>

            <div class="col-md-6 col-12 main_header_right">
				<h1>Hello there,<br>
			  I am a Web devloper,and pythonista,i am a college student and looking for job and freelance work <span class="text_color">Click below to contact me</span></h1>
			  <a href="contact.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Contact-me</a>
					  </div>
					</div>
				  </div>
            </div>

          </div>
        </div>
			</div>
		</div>

		{{>footer}}
		{{>script}}
	</body>
</html>